/* src/components/Header.css */
.header {
    background-color: #fff;
  }
  
  .header_middle {
    padding: 15px 0;
  }
  
.search-container {
  flex-grow: 1;
}

.input-group {
  width: 100%;
}

.logomarca {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: '#282c34';
}

.logo {
  height: 88px;
}