/* src/components/Header.css */
.header {
    background-color: #fff;
  }
  
  .header_middle {
    padding: 15px 0;
  }
  
  .mini_cart_wrapper {
    position: relative;
  }
  
  .mini_cart_wrapper .cart_quantity {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 6px;
    font-size: 12px;
  }

.search-container {
  flex-grow: 1;
}

.input-group {
  width: 100%;
}

.header {
  background-color: #f8f8f8;
}

.category-menu {
  background-color: #e3e3e3; /* Cor de fundo da barra de categorias */
  padding: 10px 0;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.category-list li {
  margin-right: 20px;
}

.category-list a {
  color: white; /* Cor do texto dos links */
  text-decoration: none;
}

.category-list a:hover {
  text-decoration: underline; /* Estilo ao passar o mouse */
}

.whatsapp-icon {
  font-size: 24px; /* Tamanho do ícone do WhatsApp */
  color: white; /* Cor do ícone do WhatsApp */
  margin-right: 20px; /* Espaçamento à direita */
}


